.list-views {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: Lato;
    word-wrap: normal;
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 10%;
    margin-bottom: 2%;
    color: #333333;
   
}

.list-view_block {
    width: 100%;
    display: flex;
    flex-direction: column; 
    border-bottom: 0.5px solid rgb(217, 219, 221); 
    margin-top: 1%;
    margin-bottom: 1%;
}

.list-view_block-title {
    width: 100%;
    text-transform: uppercase;
    height:20px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 1%;
}

.list-view_block-content {
    width: 100%;
    font-size: 14px;
    height:18px;
    font-weight: 400;
    margin-bottom: 0.5%;
}

.icon-check {
    max-height: 100%;
}